* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: white;
}

.container {
    text-align: center;
    margin-top: 35px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.calculator #display {
    height: 42px;
    text-align: right;
    padding: 8px 16px;
    background: black;
    color: white;
    border-radius: 5px 5px 0 0;
    border-color: blue;

}

button {
    border-radius: 31px;
    font-size: 20px;
    background-color: #ffffff;
    width: 45px;
    height: 45px;

}

.calculator table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-radius: 31px;
    border-color: orange;
}

.calculator table td {
    padding: 16px;
    cursor: pointer;
}